*.aux
*.bbl
*.blg
*.brf
*.hd
*.mw
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.ent
*.ptc
*.glg
*.glo
*.gls
*.fls
*.log
*.lwc
*.pdf
*.ist
*.glsdefs
*.fdb_latexmk
*.snm
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.nav
*.thm
*.py
*.txt
*.xsim
ctex-copy.tex
ori*
copy*
.gitignore
justtest.tex
fortest.tex
*vscode*/
picture/*
test.bib
tmp/*
tmp*
cdcmd/cdcmd
cdcmd/*test.tex
*.zip
*.dvi
cwparse/expl3-code.tex